
 {% comment %} Original code EVERYTHING removed TO ADJUST LOGO SIZE ON NORMAL SCREENS {% endcomment %}


<a href="/">
  <img class =" arisit-logo" src="https://cdn.shopify.com/s/files/1/0630/1057/0459/files/Arisit_Logo_200x.png?v=1650938522">
</a>

{% style %}
  .arisit-logo{
    width:170px;
    margin-bottom:5px !important;
  }


  @media only screen and (max-width:589px){
    .arisit-logo{
      max-width:100px;
      padding-top: 8px;

    }
  }
  @media only screen and (max-width:390px){
    .arisit-logo{
      max-width:75px;
      padding-top: 8px;

    }
  }

 
 
{% endstyle %} 