<div id="CollectionSection" class="arisit-collection-section">
    <div class="page-width page-content">
<header class="section-header">
    <h1 class="section-header__title collection-title arisit-collection-title">
      {{ collection.title }}
    </h1>
  </header>
  
<div class="collection-description rte" {{ block.shopify_attributes }}>
    <div class="enlarge-text arisit-enlarge-text">
      {{ collection.description }} 
      {% for block in section.blocks %} {% if block.settings.shop-btn-link != blank %} <a class="btn btn--tertiary btn--small btn-shop-all" href={{block.settings.shop-btn-link}}> Shop All </a> {% endif %} {% endfor %}
    </div>
  </div>
</div>
</div>


  {% schema %}
    {
        "name": "Collection Description",
        "blocks": [
                    {
                    "type":"shop-all-url",
                    "name":"Shop All",
                    "settings":[
                        {
                        "id": "shop-btn-link",
                        "type": "url",
                        "label": "Button URL"
                        }
                    ]}
        
                  ],
        "presets":[
            {
            "name":"Collection Description",
            "category":"URL"
        }
        ]}
    {% endschema %}
    

    {% style %}

    /* .rte{
      margin-top: 80px !important;
    } */
    
    {% endstyle %}