<div class=" contact-main page-width">
    <h2 align="center"> Questions or Comments? </h2>

    <div class="contact-container">
        <div class="contact-row">

            <a href="/pages/contact">
            <div class= "contact-item">

                <div class="contact-icon-section">
                    <div class="icon-shadow">
                        <i class="fa-contact fa-solid fa-cart-shopping"></i>
                    </div>
                </div>

                <div class="contact-text-section">
                    <div class="contact-title">
                        Orders
                    </div>
                    <div class="contact-text">
                        Lorem ipsum dolor sit amet, lorem sit elit. Morbi ultricies ut tortor eu aliquam.
                    </div>
                </div> 

            </div>
            </a>

            <a href="/pages/contact-us-technical-issues">
            <div class= "contact-item">
                <div class="contact-icon-section">
                    <div class="icon-shadow">
                        <i class="fa-contact fa-solid fa-circle-info"></i>
                    </div>
                </div>
                <div class="contact-text-section">
                    <div class="contact-title">
                        Technical Issues
                    </div>
                    <div class="contact-text">
                        Lorem ipsum dolor sit amet, lorem sit elit. Morbi ultricies ut tortor eu aliquam. 
                    </div>
                </div> 
            </div>
            </a>

            <a href="/pages/refund-returns-form">
            <div class= "contact-item">
                <div class="contact-icon-section">
                    
                    <div class="icon-shadow">
                        <i class="fa-contact fa-solid fa-face-frown-open"></i>
                    </div>
                </div>
                <div class="contact-text-section">
                    <div class="contact-title">
                        Refunds / Returns
                    </div>
                    <div class="contact-text">
                        Lorem ipsum dolor sit amet, lorem sit elit. Morbi ultricies ut tortor eu aliquam. 
                    </div>
                </div> 
            </div>
            </a>
            
            <a href="/pages/contact">
            <div class= "contact-item">
                <div class="contact-icon-section">
                    <div class="icon-shadow">
                        <i class="fa-contact fa-solid fa-file"></i>
                    </div>              
                </div>
                <div class="contact-text-section">
                    <div class="contact-title">
                        Others
                    </div>
                    <div class="contact-text">
                        Lorem ipsum dolor sit amet, lorem sit elit. Morbi ultricies ut tortor eu aliquam. 
                    </div>
                </div> 
            </div>
            </a>
            
        </div>
    </div>

</div>


{% style %}

.contact-main{
    /* text-align:center; */
}

.contact-main h2{
    margin-top:40px;
}

.contact-row {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.contact-item{
    /* min-width:380px; */
    width:380px;
    height:160px;
    box-shadow: 3px 3px 6px 2px #888888;
    margin:20px;
    display:flex;
    /* flex-shrink:1;
    flex-grow: 0; */
}

.contact-icon-section{
    min-width:30%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.contact-text-section{
    /* padding:20px; */

}

.contact-title{
    font-weight:700;
    padding:15px 0 5px 10px;
    color: #20447E;
}

.contact-text{
    padding:5px 5px 8px 10px;
    font-size:15px;
}

.icon-shadow{
    width:60px;
    height:60px;
    background-color: #20447E;;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.fa-contact{
    font-size:24px;
    color: #F9F871;
    /* margin-top:30px; */
}

{% endstyle %}

