
{% comment %} <div class="page-width">
    <div class="arisit-contact-container">
      <div class="arisit-contact-row">
        <div class="contact-text-section">
            <h4 class="get-in-touch-title"> Get in touch </h4>
            <span>We'd love to hear from you. Our friendly team is always happy to help you.</span> <br><br>
            <div class="enquiry-contact">
                <i class="contact-fa fa-solid fa-clipboard-question"></i>
              <span class="get-in-touch-title">General Enquiries</span><br>
              <div class="arisit-contact-details">
              Warranty Enquiries: 1300 762 219 / 1300 815 589<br>
              Sales/Spare Parts Enquiries: 1300 762 219<br>
              Fax: (03) 9768 0838
              </div>
              <br>
              
              <i class="contact-fa fa-regular fa-circle-question"></i>
              <span class="get-in-touch-title"> Commercial Enquiries</span><br>
              <div class="arisit-contact-details">
              Sales Enquiry: (03) 9768 0846<br>
              Sales Email: commercial.sales@arisit.com<br>
              Warranty/Service: commercial.warranty@arisit.com
            </div>
              <br>
              
              <i class="fa contact-fa fa-users"></i>
              <span class="get-in-touch-title">Customer Service Hours (Australia)</span><br>
              <div class="arisit-contact-details">
              Monday to Friday: 9:00am – 5:00pm (EST)
            </div>
              <br>
              
              <i class="contact-fa fa-solid fa-location-dot"></i>

              <span class="get-in-touch-title"> Head Office (Australia)</span><br>
              <div class="arisit-contact-details">
              Arisit Pty. Ltd.<br>
              40-50 Mark Anthony Drive<br>
              Dandenong South, VIC 3175<br>
              Email: arisit@arisit.com
            </div>
            <br>
              <i class="contact-fa fa-solid fa-location-dot"></i>
               <span class="get-in-touch-title">Head Office (New
                Zealand)</span><br>
              <div class="arisit-contact-details">
              <span class="contact-title">In Warranty Period:</span><span class="contact-data"> (09) 306 1020</span><br>
              <span class="contact-title">Out of Warranty Period:</span><span class="contact-data"> (09) 306 1020</span><br>
              <span class="contact-title">Spare Parts/Sales Enquires:</span><span class="contact-data"> (09) 306 1020</span><br>
              <span class="contact-title">Fax:</span><span class="contact-data"> (03) 302 0077</span><br>
            </div>
            </div>
       
            </div>
        <div class="contact-form-section">
            <div class="page-width page-width--narrow"><div class="section-header">
                <h2 class="section-header__title">
                  Technical Query
                </h2></div>
            
        
            <div class="form-vertical"><form method="post" action="/contact#contact-template--15945108553947__form" id="technical-issues-form" accept-charset="UTF-8" class="contact-form" wtx-context="D6D4F56D-F775-49A9-8138-D093957520AF"><input type="hidden" name="form_type" value="contact" wtx-context="4BA81627-E42C-4A58-8DB1-2AFDEE7BCD46"><input type="hidden" name="utf8" value="✓" wtx-context="0B633823-D9BE-4C68-84DE-C999427BE6D8">
        
                <div class="grid grid--small">
                  <div class="grid__item medium-up--one-half">
                    <label for="ContactFormName-template--15945108553947__form">Name</label>
                    <input type="text" id="ContactFormName-template--15945108553947__form" class="input-full" name="contact[name]" autocapitalize="words" value="" wtx-context="4F77D9BC-9D96-4388-8C00-A8E7FC6C699E">
                  </div>
        
                  <div class="grid__item medium-up--one-half">
                    <label for="ContactFormEmail-template--15945108553947__form">Email</label>
                    <input type="email" id="ContactFormEmail-template--15945108553947__form" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="" wtx-context="BAF5BF30-B928-4926-847C-7562651F62E7">
                  </div>
                </div><label for="ContactFormPhone-template--15945108553947__form">Phone number</label>
                  <input type="tel" id="ContactFormPhone-template--15945108553947__form" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="" wtx-context="53268590-8700-4E77-A348-96F591A4B18C">
                  

                  <label for="Brand"> Brand </label>

                  <select name="contact[brand]" id="brand" form="technical-issues-form" style="width:100%">
                      <option value="">Select Brand</option>
                    </select>

                  <label for="model"> Model (Optional) </label>
                  <select name="contact[model]" id="model" form="technical-issues-form" style="width:100%">
                      <option value="">Please select brand first</option>  
                    </select>

                  
                  <label for="ContactFormMessage-template--15945108553947__form">Technical Issue</label>
                <textarea rows="5" id="ContactFormMessage-template--15945108553947__form" class="input-full" name="contact[body]"></textarea>

               
        
                <button type="submit" class="btn">
                  Send
                </button>
        
                
                <p data-spam-detection-disclaimer="">This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
        
        </form></div>
          </div>    
        </div>
      </div>
    </div>
  </div>


  <script>

    var brandObject = {
        Ariston: ["Ariston A","Ariston b","Ariston c","Ariston d"],
        Airpop: ["Airpop a","Airpop b"],
        AVF:[],
        AVS:[],
        'Bluejet by Vanco':[],
        Capital:[],
        Chief:[],
        'Enzyme Wizard':[],
        Husky:[],
        Medisana:["M1","M2"],
        'One Products':["One 1","One 2"],
        Richter:[],
        Sanus:[],
        Sirius:[],
        'Smart BBQ':[],
        Sonorous:[],
        Steel:[],
        Thor:[],
        Tisira:[],
        'Trent & Steele':[],
        Whirlpool:[],
        }

      window.onload = function() {
        var brandSel = document.getElementById("brand");
        var modelSel = document.getElementById("model");
       
        for (var x in brandObject) {
          brandSel.options[brandSel.options.length] = new Option(x, x);
        }
        brandSel.onchange = function() {
          //empty Chapters- and Topics- dropdowns
          modelSel.length = 1;

          //display correct values
          for (var y in brandObject[this.value]) {
            
            modelSel.options[modelSel.options.length] = new Option(brandObject[this.value][y],y);
            
            
          }
        }    
      }

  </script>


  <style>
    .arisit-contact-container {
      margin:25px auto;
      border:2px solid #20447E;
      border-radius:20px;
      overflow:hidden;
       background-color: white; 
    }
  
    .arisit-contact-row {
      height:inherit;
      display: flex;
      flex-wrap:wrap;
      flex-direction: row-reverse;
    }
  
    .contact-text-section {
      background-color: #20447E;
      color:white;
      padding: 45px;
      flex-wrap:wrap;
      flex: 1 0 40%;
    }
  
    .contact-form-section{
      padding: 45px;
      color: #20447E;
      flex: 1 0 50%;
  }
  
  .contact-fa{
      color:#F9F871;
      margin-right:5px;
      }
      
      .get-in-touch-title{
        color:#F9F871;
      }
      
      .arisit-contact-details{
        margin-left:25px;
      }
      
      .enquiry-contact{
      {% comment %} margin-left:20px; {% endcomment %}
      }
  
      @media screen and (max-width:768px){
          .arisit-contact-container {
              margin:10px 0 10px 0px;
      }
          .contact-text-section {
              padding: 25px;
          }
  
          .contact-text-section h4{
              padding-top:15px;
          }
  </style>


  {% endcomment %}